#kwadrat {
    width: 200px;
    height: 200px;
    background-color: red;
    margin-top: 10px;
    position: relative;
    
}

#naglowek {
    margin-top: 10px;
   opacity: 0;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    color: white;
    font-size: 15px;
    left: 10%;
}
